/*UTILITY*/
.floatleft{
  float:left;
}
.floatright{
  float:right;
}
/*STRUCTURE*/
body{
  margin:0;
  font-family: Verdana, sans-serif;
  color: rgb(101, 101, 101);
}
header{
  width:100%;
  height: 60px;
  background-color: rgb(0, 0, 0);
  padding: 5px 0;
  margin-bottom: 5px;
}
section.hero{
  width:100%;
  height:400px;
  background-color: rgb(200, 200, 200);
  padding: 5px 0;
  margin-bottom: 5px;
}
section.features{
  width: 940px;
  height: 450px;
  background-color: rgb(150, 150, 150);
  margin: 0 auto 5px;
  padding: 5px 0;
}
section.organize{
  width: 100%;
  height: 300px;
  background-color: rgb(200, 200, 200);
  padding: 5px 0;
  margin-bottom: 5px;
}
section.share{
  width: 940px;
  height: 300px;
  background-color: rgb(150, 150, 150);
  padding: 5px 0;
   margin: 0 auto 5px;
}
section.get{
  width: 100%;
  height: 100px;
  background-color: rgb(0, 0, 0);
  padding: 5px 0;
  margin-bottom: 5px;
}
footer{
  width:100%;
  height: 60px;
  background-color: rgb(200, 200, 200);
  padding: 5px 0;
}
.container{
  width:940px;
  height: 100%;
  background-color: rgb(226, 226, 226);
  margin: 0 auto;
}
#logo{
float: left;
}
nav{
  float:left;
  margin-left: 300px;
}
nav li{
  display: inline; /*I want it to be horizontal*/
  margin-right: 20px;
  font-weight: bold;
}
.button{
  margin: 5px 5px 0 0;
}
.imageButton{
  border-radius: 5px;
}
.heroImage{
  float: left;
  margin: 20px 0 0 20px;
}
.herocontent{
  width: 400px;
  float: left;
  margin-left: 20px;
  padding-top: 40px;
  background: rgb(150, 150, 150);
}
section.hero h1{
  font-size: 30px;
  margin-bottom: -10px;
}
section.hero p{
  margin-bottom: 60px;
}
